In [1]:
import  pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv")

In [3]:
#check Data type of file

type(df)

pandas.core.frame.DataFrame

In [4]:
#Checking first 5 recors

df.head()

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False

In [5]:
# top 2 records

df.head(2)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False

In [6]:
#Checking last rows

df.tail()

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

##### When you dont have header in your file

In [7]:
pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv", header = None).head(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
1,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,false
2,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.5639843,-122.3257992,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
3,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.5639843,-122.3257992,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,false

##### Giving Custom Column names while reading file

In [8]:


pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv",header = None,names = ['a1','a2','b3','b2','cd','c4','a11','a21','b31','b21','cd1','c41','cd12','2'])

,a1,a2,b3,b2,cd,c4,a11,a21,b31,b21,cd1,c41,cd12,2
id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,false
2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.5639843,-122.3257992,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.5639843,-122.3257992,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,false
4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.5639843,-122.3257992,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,false
5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.5639843,-122.3257992,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,false
6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.4480204,-122.1805905,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,false
7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.4441785,-122.1830931,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,false
8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.4480204,-122.1805905,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,false
9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.2141428,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,false
10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.4838423,-122.2273954,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,false
11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.2430898,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,false
12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.4838423,-122.2273954,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,false
13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.5304228,-122.2586432,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,false
14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.4913864,-122.2315683,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,false
15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.7488993,-122.4203671,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,false
16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.3569004,-122.0600024,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,false
17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.6445898,-122.4224905,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,false
18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.2067982,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,false
19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.5326941,-122.2931236,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,false
20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,true
21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.5291938,-122.2871612,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,false
22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.7726402,-122.4099154,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,false

In [9]:
#### Skiping Rows
pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv", skiprows = [1,4,6])

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
1,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
2,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
3,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
4,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
5,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
6,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
7,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
8,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
9,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
10,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
11,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
12,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
13,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
14,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
15,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
16,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
17,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
18,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

##### Treating any Value as Null

In [10]:

pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv", na_values = ["NULL"]).head(4)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False

* ##### Treating "wheelchair" as Null

In [11]:

pd.read_csv("C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\ohana-api-master\\data\\sample-csv\\locations.csv", na_values = ["wheelchair"]).head(4)

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,NaN,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,NaN,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False

### Reading Excel File

In [12]:
pd.read_excel('C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\poi-generated-file.xlsx').head(4)

C:\Users\SAJAL KATARE\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           Name               Email           Date Of Birth   Salary
0  Rajeev Singh  rajeev@example.com 1992-08-21 10:07:15.979  1200000
1   Thomas cook  thomas@example.com 1965-11-15 10:07:15.979  1500000
2  Steve Maiden   steve@example.com 1987-05-18 10:07:15.979  1800000

##### Reading 2nd tab of the excel sheet.

In [18]:
pd.read_excel('C:\\Users\\SAJAL KATARE\\Desktop\\Ineuron\\Pandas\\poi-generated-file.xlsx',sheet_name = 'salary').head(4)

            Date Of Birth   Salary
0 1992-08-21 10:07:15.979  1200000
1 1965-11-15 10:07:15.979  1500000
2 1987-05-18 10:07:15.979  1800000

### Reading HTML Data

In [14]:

a = pd.read_html('https://www.basketball-reference.com/leaders/orb_top_10.html')

In [15]:
type(a)

list

* ##### HTML data will be saved as list, if miltiple tables on page then it will be element of list.
* ##### Each Element will be a dataframe.

In [17]:
a[0]

,Season,Lg,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th
0,2020-21,NBA,C. Capela (297),E. Kanter (284),J. Valančiūnas (253),R. Gobert (240),D. Ayton (228),J. Poeltl (219),S. Adams (213),N. Jokić (205),J. Allen (196),D. Howard (190)
1,2019-20,NBA,H. Whiteside (258),A. Drummond (250),R. Gobert (230),T. Thompson (226),J. Allen (216),J. Valančiūnas (213),S. Adams (207),I. Zubac (197),D. Sabonis (189),M. Robinson (186)
2,2018-19,NBA,A. Drummond (423),S. Adams (391),R. Gobert (309),C. Capela (298),K. Towns (263),"E. Kanter (257), H. Whiteside (257)",NaN,L. Aldridge (251),J. Nurkić (243),N. Jokić (228)
3,2017-18,NBA,A. Drummond (399),S. Adams (384),D. Jordan (329),E. Kanter (273),D. Howard (255),L. Aldridge (246),C. Capela (241),K. Towns (238),D. Favors (198),N. Jokić (195)
4,2016-17,NBA,A. Drummond (345),R. Gobert (314),D. Jordan (298),"D. Howard (296), K. Towns (296)",NaN,H. Whiteside (293),T. Thompson (286),S. Adams (281),R. Lopez (244),M. Gortat (238)
5,2015-16,NBA,A. Drummond (395),"R. Lopez (268), T. Thompson (268)",NaN,D. Jordan (267),"E. Kanter (249), Z. Pachulia (249)",NaN,"D. Howard (238), H. Whiteside (238)",NaN,K. Faried (235),K. Towns (229)
6,2014-15,NBA,A. Drummond (437),D. Jordan (397),T. Chandler (294),E. Kanter (277),T. Thompson (274),R. Gobert (265),Ö. Aşık (244),K. Faried (242),N. Vučević (238),E. Davis (230)
7,2013-14,NBA,A. Drummond (440),D. Jordan (331),R. Lopez (326),J. Noah (282),T. Thompson (269),Z. Randolph (265),G. Monroe (256),J. Sullinger (241),K. Faried (238),D. Howard (231)
8,2012-13,NBA,Z. Randolph (310),T. Thompson (306),R. Hibbert (296),Ö. Aşık (275),N. Vučević (273),T. Chandler (269),J. Hickson (266),"R. Evans (260), K. Faried (260), J. Noah (260)",NaN,NaN
9,2011-12,NBA,D. Cousins (265),J. Noah (242),G. Monroe (239),K. Humphries (233),K. Love (226),R. Anderson (224),B. Griffin (218),R. Hibbert (213),T. Chandler (212),D. Jordan (202)
10,2010-11,NBA,K. Love (330),Z. Randolph (326),D. Howard (309),L. Aldridge (278),B. Griffin (270),P. Gasol (268),G. Monroe (248),E. Brand (237),A. Jefferson (235),E. Okafor (230)
11,2009-10,NBA,Z. Randolph (330),D. Howard (284),B. Haywood (278),B. Lopez (270),E. Okafor (251),M. Camby (249),B. Wallace* (245),P. Gasol (243),S. Dalembert (239),A. Horford (236)
12,2008-09,NBA,D. Howard (336),E. Okafor (275),K. Love (274),P. Gasol (262),D. Lee (256),P. Millsap (251),J. Noah (244),"L. Aldridge (234), J. Thompson (234)",NaN,B. Lopez (225)
13,2007-08,NBA,T. Chandler (322),A. Jefferson (308),S. Dalembert (304),D. Howard (279),B. Haywood (273),J. Foster (264),Z. Ilgauskas (263),A. Biedriņš (256),E. Okafor (255),N. Collison (254)
14,2006-07,NBA,T. Chandler (320),B. Wallace* (303),D. Howard (283),E. Brand (268),D. Gooden (263),E. Okafor (258),J. Foster (253),A. Biedriņš (251),Z. Ilgauskas (242),S. Dalembert (239)
15,2005-06,NBA,B. Wallace* (301),D. Howard (288),E. Dampier (273),T. Chandler (265),Z. Pachulia (264),S. Marion (249),Z. Ilgauskas (245),D. Gooden (237),E. Brand (236),T. Duncan* (231)
16,2004-05,NBA,Z. Ilgauskas (299),E. Brand (296),B. Wallace* (292),D. Howard (287),E. Okafor (275),P. Brown (266),"T. Chandler (261), D. Gadzuric (261)",NaN,R. Evans (254),S. O'Neal* (253)
17,2003-04,NBA,E. Dampier (344),B. Wallace* (324),Z. Ilgauskas (279),E. Brand (269),J. Magloire (268),K. Thomas (261),R. Nesterović (257),J. Foster (248),S. O'Neal* (246),K. Garnett* (245)
18,2002-03,NBA,B. Wallace* (293),E. Brand (283),J. Magloire (260),"T. Duncan* (259), S. O'Neal* (259)",NaN,A. Stoudemire (250),E. Dampier (248),K. Garnett* (244),P. Brown (243),B. Grant (241)
19,2001-02,NBA,E. Brand (396),B. Wallace* (318),D. Fortson (290),P. Brown (273),T. Duncan* (268),D. Davis (262),"A. Davis (254), D. Mutombo* (254)",NaN,B. Miller (252),K. Garnett* (243)
20,2000-01,NBA,D. Mutombo* (307),B. Wallace* (303),S. O'Neal* (291),E. Brand (285),A. Jamison (280),A. Davis (274),T. Duncan* (259),P. Brown (257),J. O'Neal (249),A. McDyess (240)
21,1999-00,NBA,E. Brand (348),S. O'Neal* (336),D. Mutombo* (304),J. Williams (277),A. Henderson (265),J. Feick (264),T. Duncan* (262),D. Davis (256),A. Davis (235),A. McDyess (234)
22,1998-99,NBA,D. Fortson (210),D. Mutombo* (192),S. O'Neal* (187),O. Polynice (184),B. Grant (173),A. McDyess (168),C. Barkley* (167),"K. Garnett* (166), A. Mourning* (166)",NaN,E. Dampier (164)
23,1997-98,NBA,J. Williams (443),D. Rodman* (421),V. Baker (286),Z. Ilgauskas (279),D. Mutombo* (276),T. Duncan* (274),E. Dampier (272),A. Walker (270),B. Outlaw (255),E. Johnson (242)
24,1996-97,NBA,D. Rodman* (320),D. Davis (301),A. Walker (288),S. Kemp (275),R. Seikaly (274),O. Polynice (272),P. Jones (270),D. Mutombo* (268),V. Baker (267),J. Smith (261)
25,1995-96,NBA,D. Rodman* (356),J. Williams (342),D. Robinson* (319),J. Smith (300),M. Cage (288),S. Kemp (276),V. Baker (263),P. Jones (260),O. Polynice (257),D. Davis (252)
26,1994-95,NBA,P. Jones (329),S. O'Neal* (328),C. Dudley (325),D. Mutombo* (319),S. Kemp (318),L. Williams (291),V. Baker (289),O. Polynice (277),D. Rodman* (274),T. Hill (269)
27,1993-94,NBA,D. Rodman* (453),S. O'Neal* (384),C. Oakley (349),K. Willis (335),B. Williams (315),S. Kemp (312),H. Grant (306),C. Webber* (305),"P. Jones (299), O. Polynice (299)",NaN
28,1992-93,NBA,D. Rodman* (367),D. Mutombo* (344),S. O'Neal* (342),H. Grant (341),K. Willis (335),D. Davis (291),C. Oakley (288),"A. Green (287), S. Kemp (287)",NaN,H. Olajuwon* (283)
29,1991-92,NBA,D. Rodman* (523),K. Willis (418),H. Grant (344),C. Dudley (343),G. Anderson (337),L. Johnson (323),M. Malone* (320),D. Mutombo* (316),R. Seikaly (307),A. Green (306)
30,1990-91,NBA,D. Rodman* (361),D. Robinson* (335),C. Oakley (305),L. Smith (302),O. Thorpe (287),J. Lane (280),F. Spencer (272),"M. Malone* (271), R. Parish* (271)",NaN,D. Coleman (269)
31,1989-90,NBA,M. Malone* (364),C. Barkley* (361),D. Rodman* (336),M. Cage (306),D. Robinson* (303),H. Olajuwon* (299),T. Catledge (271),A. Green (262),R. Parish* (259),"C. Oakley (258), O. Thorpe (258)"
32,1988-89,NBA,C. Barkley* (403),M. Malone* (386),C. Oakley (343),R. Parish* (342),H. Olajuwon* (338),D. Rodman* (327),C. Drexler* (289),T. Cummings (281),M. Cage (276),"L. Smith (272), O. Thorpe (272)"
33,1987-88,NBA,C. Barkley* (385),M. Malone* (372),M. Cage (371),R. Tarpley (360),C. Oakley (326),D. Rodman* (318),H. Olajuwon* (302),B. Williams (298),O. Thorpe (279),K. Malone* (277)
34,1986-87,NBA,C. Barkley* (390),L. Smith (366),M. Cage (354),M. Malone* (340),X. McDaniel (338),B. Williams (322),K. Willis (321),H. Olajuwon* (315),C. Oakley (299),J. Donaldson (295)
35,1985-86,NBA,L. Smith (384),C. Barkley* (354),M. Malone* (339),H. Olajuwon* (333),B. Williams (329),X. McDaniel (307),B. Laimbeer (305),D. Wilkins* (261),R. Sampson* (258),C. Oakley (255)
36,1984-85,NBA,H. Olajuwon* (440),L. Smith (405),M. Malone* (385),B. Williams (323),B. Laimbeer (295),L. Thompson (274),C. Barkley* (266),R. Parish* (263),T. Cummings (244),A. Gilmore* (231)
37,1983-84,NBA,B. Williams (355),M. Malone* (352),B. Laimbeer (329),T. Cummings (323),R. Sampson* (293),L. Smith (282),J. Ruland (265),L. Thompson (260),D. Wilkins* (254),R. Parish* (243)
38,1982-83,NBA,M. Malone* (445),B. Williams (365),C. Kellogg (340),T. Cummings (303),A. Gilmore* (299),J. Ruland (293),B. Laimbeer (282),A. English* (263),R. Parish* (260),D. Roundfield (259)
39,1981-82,NBA,M. Malone* (558),B. Williams (347),R. Parish* (288),L. Smith (279),M. Lucas (274),E. Hayes* (267),M. Thompson (258),J. Ruland (253),M. Johnson* (252),M. Mitchell (244)
40,1980-81,NBA,M. Malone* (474),L. Smith (433),S. Nater (295),J. Carroll (274),A. English* (273),B. Laimbeer (266),K. Carr (260),R. Parish* (245),J. Erving* (244),D. Greenwood (243)
41,1979-80,NBA,M. Malone* (573),S. Nater (352),W. Unseld* (334),K. Washington (325),D. Roundfield (293),C. Maxwell (284),T. Rollins (283),"A. English* (269), E. Hayes* (269)",NaN,"M. Johnson (258), L. Kenon (258)"
42,1978-79,NBA,M. Malone* (587),D. Roundfield (326),E. Hayes* (312),R. Kelley (303),K. Washington (296),A. Gilmore* (293),M. Landsberger (292),W. Unseld* (274),C. Maxwell (272),R. Parish* (265)
43,1977-78,NBA,M. Malone* (380),M. Webster (361),E. Hayes* (335),A. Gilmore* (318),T. Robinson (298),M. Johnson (292),P. Silas (289),W. Unseld* (286),G. McGinnis* (282),S. Nater (278)
44,1976-77,NBA,M. Malone* (437),G. McGinnis* (324),A. Gilmore* (313),M. Johnson (297),E. Hayes* (289),L. Kenon (282),J. Drew (280),J. Brewer (275),M. Lucas (271),S. Wicks (268)
45,1975-76,NBA,P. Silas (365),D. Cowens* (335),J. Brewer (298),J. Drew (286),M. Johnson (279),K. Abdul-Jabbar* (272),W. Unseld* (271),C. Ray (270),K. Kunnert (267),T. Boerwinkle (263)
46,1975-76,ABA,A. Gilmore* (402),K. Hughes (341),J. Erving* (337),D. Issel* (303),M. Lucas (297),B. Knight (294),L. Kenon (287),D. Robisch (281),M. Barnes (263),M. Bennett (249)
47,1974-75,NBA,J. Drew (357),P. Silas (348),C. Perry (347),W. Unseld* (318),B. McAdoo* (307),H. Hairston (304),C. Lee (288),"C. Ray (259), N. Thurmond* (259)",NaN,D. Awtrey (242)
48,1974-75,ABA,M. Malone* (455),A. Gilmore* (427),M. Barnes (419),G. McGinnis* (396),S. Nater (369),C. Jones (311),"D. Hillman (296), T. Owens (296)",NaN,"J. Erving* (284), B. Knight (284)",NaN
49,1973-74,NBA,E. Hayes* (354),H. Hairston (335),P. Silas (334),S. Haywood* (318),S. Mix (305),S. Lacey (293),L. Ellis (292),K. Abdul-Jabbar* (287),C. Ray (285),B. McAdoo* (281)
50,1973-74,ABA,A. Gilmore* (478),G. McGinnis* (422),L. Kenon (375),D. Issel* (346),C. Jones (322),T. Owens (301),J. Eakins (296),S. Nater (286),J. Erving* (263),R. Denton (255)
51,1972-73,ABA,A. Gilmore* (449),G. McGinnis* (434),M. Daniels* (348),B. Netolicky (338),D. Issel* (329),G. Moore (324),B. Paultz (279),R. Denton (276),J. Keye (275),"J. Erving* (262), C. Jones (262)"
52,1971-72,ABA,J. Erving* (476),A. Gilmore* (421),M. Daniels* (383),W. Jones (371),M. Lewis (357),Z. Beaty* (355),D. Issel* (353),J. Keye (315),G. Govan (310),"J. Eakins (290), G. McGinnis* (290)"
53,1970-71,ABA,M. Lewis (435),D. Issel* (421),Z. Beaty* (407),M. Daniels* (394),J. Keye (370),W. Ladner (337),I. Harge (328),M. Leaks (317),G. Ligon (312),C. Powell (311)
54,1969-70,ABA,S. Haywood* (533),D. Sidle (432),"M. Leaks (427), R. Robbins (427)",NaN,M. Daniels* (423),G. Ligon (399),M. Lewis (370),G. Moore (345),B. Netolicky (337),I. Harge (334)
55,1968-69,ABA,S. Thoren (391),M. Daniels* (383),R. Robbins (368),T. Washington (367),G. Ligon (328),K. Swagerty (326),M. Leaks (322),G. Moore (318),B. Netolicky (313),K. Rhine (307)
56,1967-68,ABA,M. Daniels* (502),G. Ligon (370),C. Hawkins* (368),R. Robbins (366),L. Hunter (332),B. Netolicky (313),"D. Anderson (303), J. Hadnot (303), T. Washing...",NaN,NaN,J. Beasley (278)

### Reading CSV from Web

In [21]:
#In below filew sepertor is tab

d = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv', sep = '\t')

In [22]:
d.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##### Checking Datatypes of Columns in Dataframe

In [23]:
d.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

* ##### Object is similar to string

##### Print list of columns

In [26]:
d.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

##### Select only 1 column

In [27]:
d['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
151    1
152    0
153    0
154    0
155    0
Name: Survived, Length: 156, dtype: int64

##### Select Multiple Columns

In [28]:
d[['Survived', 'Pclass']]

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
151         1       1
152         0       3
153         0       3
154         0       3
155         0       1

[156 rows x 2 columns]

##### Difference between giving single column and giving list of columns.
* ##### d['Survived'] will return Series.
* ##### d[['Survived']] or d[['Survived', 'Pclass']] will return dataframe.